/* Fonts */
html{ zoom: 150%; }
body { font-family: 'Roboto', sans-serif; } 
h1, h2, h3 { font-family: 'Open Sans', sans-serif; } 
/* Colors */ 
body { color: #333; } 
h1, h2, h3 { color: #444; } 
/* Backgrounds */ 
body { background-color: #f5f5f5ef; } 
/* Layout */ 
.main-content { max-width: 100000px; margin: 0 auto; padding: 20px; } 
/* Animations */ 
.math-formula { animation: fadeIn 2s ease-in 1s forwards; }

.cut-image{
    position:relative;
    float:right;    
    margin:0 5px;
    overflow:hidden;
    padding: 0;
    display: block;
    margin: 0 auto;
}

.cut-image::after {
    content: '';
    position:absolute;
    bottom:0;
    right:0;
    height: 0px;
    width: 0px;
    border-left:40px solid transparent;
    border-top:40px solid transparent;
    border-bottom:40px solid transparent;
    border-right:40px solid transparent;
}


